@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;700&family=Mochiy+Pop+P+One&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
  }

  :root {
    --cell-size: 7rem;
    --mark-size: calc(var(--cell-size) * .9);
    --all-fonts: 'Fredoka', sans-serif;
    --bold-font: 'Mochiy Pop P One', sans-serif;
  }

  body{
      margin: 0;
      background-image: url('img/wood1.jpg');
      background-repeat: no-repeat;
      background-size: cover;
  }

  .titles{
    display: flex;
    font-family: var(--all-fonts);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
    font-size: 0;
    color: #16181A ;
  }

  #headTitle{
    font-size: 5rem;
    font-family: var(--bold-font);
    font-weight: bolder;
  }

  .titles p{
    font-size: 3rem;
    padding: 0;
    margin: 0;
    font-weight: bolder;
  }

  .displayScore{
    display: flex;
    gap: 10rem;
  }

  .displayScore span{
    color: blue;
  }



  
  .board {
    width: 100vw;
    height: 50vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;

    grid-template-columns: repeat(3, auto)
  }
  
  .cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    background-image: url('img/marble.jpg');
    
  }

  .moveHistory{
    width: 100vw;
    height: 50vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
  }

  .moveContent{
    border: 1px solid black;
    width: calc(var(--cell-size)*3);
    height: 30vh;
    background-color: whitesmoke;
    overflow: auto;
    font-family: var(--all-fonts);
    font-size: 1.2rem;
    font-weight: normal;
  }
  .moveContent p{
    padding: 0;
    margin: 0;
  }

  
.cell.x,
.cell.circle {
  cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.circle::before {
  background-color: black;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
  background-color: lightgrey;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  content: '';
  position: absolute;
  width: calc(var(--mark-size) * .15);
  height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  width: calc(var(--mark-size) * .7);
  height: calc(var(--mark-size) * .7);
  background-image: url('img/marble.jpg');
}

.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .9);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  flex-direction: column;
  font-family: var(--all-fonts);
}

.winning-message button {
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  padding: .25em .5em;
  cursor: pointer;
}

.winning-message button:hover {
  background-color: black;
  color: white;
  border-color: white;
}

.winning-message.show {
  display: flex;
}

.choose-side {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
    font-family: var(--all-fonts);
  }
  
  .choose-side button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    margin: 3rem;
    flex-direction: row;
    cursor: pointer;
  }
  
  .choose-side button:hover {
    background-color: black;
    color: white;
    border-color: white;
  }
  
  .choose-side.show {
    display: flex;
  }

  @media (orientation: portrait) {
    .titles{
      display: flex;
      flex-direction: column;
    }
    .displayScore{
      display: flex;
      flex-direction: column;
      gap: 0;
    }
  }